# Ignorar arquivos de build
build/prog

# Ignorar o diretório de configurações do VS Code
.vscode/


# Ignorar arquivos de objeto e bibliotecas (se houver)
*.o
*.a
.exe
build/Debug/outDebug
src/build/Debug/outDebug
.gitignore
src/build/Release/outRelease
